<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DebugMode</key>
	<false/>
	<key>SettingsItems</key>
	<dict>
		<key>EncoderControls</key>
		<true/>
		<key>Welcome</key>
		<false/>
		<key>Preference</key>
		<true/>
		<key>BitRate</key>
		<true/>
		<key>ScreenMirroring</key>
		<true/>
		<key>ToastObserver</key>
		<false/>
		<key>Alerts</key>
		<false/>
		<key>Information</key>
		<true/>
		<key>MainTabs</key>
		<true/>
		<key>TagSets</key>
		<true/>
		<key>Log</key>
		<true/>
		<key>FeedMap</key>
		<true/>
		<key>Dropbox</key>
		<true/>
		<key>Credits</key>
		<true/>
	</dict>
	<key>Tabs</key>
	<dict>
		<key>Calendar</key>
		<dict>
			<key>Active</key>
			<true/>
			<key>Visible</key>
			<true/>
		</dict>
		<key>Analyze</key>
		<dict>
			<key>Active</key>
			<false/>
			<key>Visible</key>
			<false/>
		</dict>
		<key>Medical</key>
		<dict>
			<key>Active</key>
			<false/>
			<key>Visible</key>
			<false/>
		</dict>
		<key>DuelView</key>
		<dict>
			<key>Active</key>
			<true/>
			<key>Visible</key>
			<true/>
		</dict>
		<key>Live2Bench</key>
		<dict>
			<key>Active</key>
			<true/>
			<key>Visible</key>
			<true/>
		</dict>
		<key>ClipView</key>
		<dict>
			<key>Active</key>
			<true/>
			<key>Visible</key>
			<true/>
		</dict>
		<key>ListView</key>
		<dict>
			<key>Active</key>
			<true/>
			<key>Visible</key>
			<true/>
		</dict>
		<key>MyClip</key>
		<dict>
			<key>Active</key>
			<true/>
			<key>Visible</key>
			<true/>
		</dict>
		<key>Debug</key>
		<dict>
			<key>Active</key>
			<false/>
			<key>Visible</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
