<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Component 1</key>
	<dict>
		<key>Name</key>
		<string>Zone</string>
		<key>ComponentType</key>
		<string>SegmentedView</string>
		<key>Type</key>
		<integer>25</integer>
		<key>Position</key>
		<dict>
			<key>xPosition</key>
			<string>175</string>
			<key>yPosition</key>
			<string>570</string>
			<key>width</key>
			<string>80</string>
			<key>height</key>
			<string>30</string>
		</dict>
	</dict>
	<key>Component 2</key>
	<dict>
		<key>Name</key>
		<string>Half</string>
		<key>ComponentType</key>
		<string>SegmentedView</string>
		<key>Type</key>
		<integer>25</integer>
		<key>Position</key>
		<dict>
			<key>xPosition</key>
			<integer>475</integer>
			<key>yPosition</key>
			<integer>570</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>30</integer>
		</dict>
	</dict>
</dict>
</plist>
