<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<string>ireel@avocatec.com</string>
	<key>secret</key>
	<string>561a428f83963305c312281e788a2919</string>
</dict>
</plist>
